<div class="l-inner">
	<div class="m-filters">
		<ul id="galleryFilters">
      <li data-value="all">All</li>
      {{#each this.filters}}
	      <li data-value="{{@key}}">{{this}}</li>	      
      {{/each}}
		</ul>
	</div>

	<ul class="m-grid -margin">
		{{#each this.gallery}}	
			<li class="m-card -gallery">
				<a href="{{this.href}}" target="{{this.href_target}}">
					<div class="img">
						<div style="background-image: url({{this.thumbnail}}{{this.slug}}.png)"> </div>
					</div>
					<h3 class="-primary">{{this.title}}</h3>
					<p>{{this.source}}</p>
				</a>
			</li>
		{{/each}}
	</ul>
	{{#if pagination}}	
		<div id="gallery-paginator"></div>
	{{/if}}
	<a href="mailto:gfw@wri.org" target="_blank" class="btn-submit">
		<div class="-center">			
			<svg><use xlink:href="#icon-addmore"></use></svg>
			<h3>Submit your map or app</h3>
		</div>
	</a>
</div>
