<div class="l-inner">
  <aside class="m-static-aside">
    <ul>
      {{#each this.tabs}}
        <li data-tab="{{this}}" class="js-static-tab">{{this}}</li>
      {{/each}}
    </ul>
  </aside>

  <div id="staticContent" class="m-static-content">
    <header>
      <h2>{{this.tab}}</h2>
    </header>
    <ul class="m-static-subtabs">
      {{#each this.tags}}
        <li data-tag="{{this.title}}" class="js-static-tag">
          <h3 data-tag="{{this.title}}" class="m-static-title">{{this.title}}</h3>
          <div class="m-static-info">
            {{{this.content}}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

  {{!-- <ul class="m-tutorials-list">
    {{#each groups}}
      {{#each this}}
      <li data-app="{{this.category}}" data-order="{{this.order}}">
        <h3 class="toggle">
          {{this.title}}
          <span class="arrow"><svg><use xlink:href="#icon-arrowdown"></use></svg></span>
        </h3>
        <div class="content m-tutorials-content">
          {{{this.content}}}
        </div>
      </li>
      {{/each}}
    {{/each}}
  </ul>
  <ul class="m-tutorials-pagination"></ul> --}}  
</div>
